.cache/
.lsp/
.build/
build/
haste
haste.exe
Release/
Debug/
secret/
.swp
.direnv
compile_flags.txt
*.got
test/**/*.ll
test/**/*.tokens
test/**/*.json
# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake
!CMakeLists.txt
.vscode/
.idea/